/* 
--- Designed By : FRANCIS MARK AMOS
--- FRONTEND DEVELOPER
-- A TRAINEE @ AMALITECH
-- DATE:17TH APRIL, 2023 
*/

/* ----------CSS RESET---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Barlow', sans-serif;
}





/* ----------------- VARIABLES---------------- */

:root{
    --deep-orange:#f16718;
    --light-orange:#ff9b62;
    --deep-blue:#162542;
    --light-blue:#7b8bad;
    --lighter-blue:#e8eff2;
    --white-color:#ffffff;
}

html{
    scroll-behavior: smooth;
}


/* ----- HEADER SECTION STYLING ------ */

.container{
    width:85%;
    margin:auto;
}



nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2% 8%;
}

nav .pre-order{
    padding:17px 30px;
    background:var(--lighter-blue);
    color:var(--blue-color);
    font-weight:800;
    font-size:17px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:6px;
    transition:background .3s;
    cursor:pointer;
}

nav .pre-order:hover{
    background:var(--deep-blue);
    color:var(--white-color);
}



.top{
    width:50px;
    height:50px;
    background:var(--deep-orange);
    position:fixed;
    border-radius:50%;
    z-index:1;
    bottom:5%;
    right:5%;
    cursor: pointer;
    animation:move 3s linear infinite;
}

@keyframes move {

    0%{
        transform:translateY(-10px);
    }


    50%{
        transform:translateY(10px);
    }

     100%{
        transform:translateY(-10px);
     }
}

.top i{
    color:var(--white-color);
    font-size:20px;
    padding:12px;
    margin:auto 5px;
    line-height:25px;
}


.welcome-section{
     margin-top:2%;
     padding:0 8%;
}


.welcome-info h1{
    font-size:56px;
    font-weight:900;
    line-height:56px;
    margin-bottom:30px;
}


.welcome-container{
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    align-items:center;
    gap:30px;
}



.welcome-info .pre-order{
    padding:17px 30px;
    background:var(--deep-orange);
    color:var(--white-color);
    font-weight:900;
    font-size:17px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:6px;
    margin-right:35px;
    transition:background .3s;
    cursor:pointer;
    display:inline-block;
    margin-top:50px;
}


.welcome-info .pre-order:hover{
    background:var(--light-orange);
}

.welcome-info  .release{
    text-decoration:none;
    color:var(--light-blue);
    font-size:20px;
    font-weight:700;
}




.welcome-info img{
    max-width:100%;
    border-radius:25px;
}


.welcome-info p{
    font-size:16px;
    line-height:26px;
    font-weight:700;
    color:var(--light-blue);
}


.new-img .pattern{
    position:absolute;
    top:17%;
    right:0%;
    z-index:-1;
}


.new-img .pattern2{
    position:absolute;
    left:0%;
    top:117%;
    z-index:-1;
}
/* ----- END OF HEADER SECTION STYLING ------ */










/* ------ITEMS SECTION STYLING---------------- */

section{
    padding:50px 0;
}

.items-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    padding:2% 8%;
    gap:30px;
}


.items-info h3{
    font-size:24px;
    font-weight:800;
    margin-bottom:30px;
}


.items-info p{
    line-height:28px;
    font-size:16px;
    color:var(--light-blue);
}

.items-info img{
    margin-bottom:30px;
}

/* ------END OF ITEMS SECTION STYLING---------------- */





/* -------------FOOTER SECTION STYLING------------ */

footer{
    padding:50px 0;
    text-align:center;
    
}


footer p{
    color:var(--light-blue);
    font-size:16px;
}

/* -------------END OF FOOTER SECTION STYLING------------ */





/* --------------RESPONSIVENESS -------------------- */

@media screen and (max-width:600px){
    .container{
        width:95%;
        margin:20px;
    }

    .feature-info{
        width:100%;
        
    }

    .feature-info-2{
        width:100%;
      
    }

 .new-img .pattern, .pattern2{
    display:none;
 }


    nav .pre-order{
        margin-left:20px;
        font-size:14px;
    }
    

  
    .welcome-info h1{
        font-size:40px;
        line-height:40px;
        margin-top:40px;
     
    }

    .welcome-info p{
        font-size:12px;
        line-height:20px;
    }

    .welcome-btn{
        display:flex;
        align-items:center;
        display: inline;
        justify-content:center;
    }

  .welcome-section{
    width:100%;
  }

    .welcome-btn .pre-order{
        font-size:12px;
    }
    

    .welcome-info .release{
        font-size:13px;
    }

    
    }
  
